
<div class="container">
    <div class="row" >
        <h1 style="text-align: center;">Create Stock Transaction</h1>
    </div>

    <div class="row">
        <form class="stockForm" (ngSubmit)="onSubmit(stockForm)" #stockForm="ngForm">
            <p>Product Id: <input name="productid" type="number" placeholder="0" ngModel></p>
            <p>Vendor: <input name="vendor" type="vendor" placeholder="Vendor" ngModel></p>
            <p>Batch Code: <input name="batchcode" type="text" placeholder="Batch Code" ngModel></p>
            <p>Invoice Number: <input name="invoicenumber" type="text" placeholder="Invoice Number" ngModel></p>
            <p>Quantity: <input name="quantity" type="number" placeholder="0" ngModel></p>
            <p>Transaction Type: <select name="transactiontype" ngModel><option >IN</option><option >OUT</option></select></p>

            <button class="formButton" type="submit">Submit</button>
        </form>
    </div>
</div>