<div class="box">
  <div class="container-fluid m-3 p-3 table-threshold">
    <h3 class="card-title m-2 p-2 text-center">Threshold Level</h3>
    <table class="table table-striped table-responsive-sm text-center table-bordered align-items-center">
      <thead class="table-dark text-center ">
      <tr class="">
        <th scope="col">Item Line</th>
        <th scope="col">Title</th>
        <th scope="col">Demand</th>
      </tr>
      </thead>
      <tbody >
      <tr *ngFor="let threshold of thresholds; let i = index;">
        <th>{{i}}</th>
        <td>{{threshold.title}}</td>
        <td>{{threshold.demand}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="movement">
    <button type="button" class="btn btn-secondary" (click)="goBack()">Go Back</button>
  </div>
</div>




