h3{
    text-align: center;
}
input, select{
    width: 200px;
}
.container {
    width: 500px;
    clear: both;
}
.container input, select{
    width: 100%;
    clear:both;
}
.help-block{
    color: red;
    font-family:cursive
}
form .form-actions{
    text-align: center;
}
.movement{
    text-align: center;
}


